<div class="page-header" class="margin">
	<h3>
		Messages
		<div class="pull-right">
			<%= link_to new_message_path, class: "btn btn-primary" do %>
			<i class="glyphicon glyphicon-plus"></i> New Message
		<% end %>
		</div>
	</h3> 
</div>

<h4>Inbox</h4>
<table class="table table-stripped" id="messagesInboxTable" width="100%" border="0" cellspacing="0" cellpadding="0">
 <thead>
 	<tr>
 		<th>Date</th>
 		<th>From</th>
 		<th>Subject</th>
 		<th>Included Money?</th>
 		<th>Status</th>
 		<th>Action</th>
 	</tr>
 </thead>
 <tbody>
 	<% @received_messages.each do |received_message| %>
 	<tr>
 		<td><%= received_message.msg_date_time.strftime("%d-%b-%y %H:%M:%S") %></td>
 		<td><%= received_message.user.first_name %></td>
 		<td><%= received_message.subject %></td>
 		<% if received_message.sent_money == true %>
 			<td><%= "Yes" %></td>
 		<% else %>
 			<td><%= "No" %></td>
 		<% end %>
 		<% if received_message.msg_status == false %>
 			<td><%= "New" %></td>
 		<% else %>
 			<td><%= "Read" %></td>
 		<% end %>
 		<td><%= link_to message_path(received_message.id), class: "btn btn-info btn-xs" do %>
 				<i class="glyphicon glyphicon-info-sign">View</i>
 			<% end %>
 		</td>
 	</tr>
 	<% end %>
 </tbody>
 </table>

<h4>Outbox</h4>
 <table class="table table-stripped" id="messagesOutboxTable" width="100%" border="0" cellspacing="0" cellpadding="0">
 <thead>
 	<tr>
 		<th>Date</th>
 		<th>To</th>
 		<th>Message</th>
 		<th>Included Money?</th>
 		<th>Status</th>
 		<th>Action</th>
 	</tr>
 </thead>
 <tbody>
 	<% @sent_messages.each do |sent_message| %>
 	<tr>
 		<td><%= sent_message.msg_date_time.strftime("%d-%b-%y %H:%M:%S") %></td>
 		<td><%= User.find(sent_message.msg_receiver).first_name %></td>
 		<td><%= sent_message.message %></td>
 		<% if sent_message.sent_money == true %>
 			<td><%= "Yes" %></td>
 		<% else %>
 			<td><%= "No" %></td>
 		<% end %>
 		<% if sent_message.msg_status == false %>
 			<td><%= "New" %></td>
 			<td><%= link_to message_path(sent_message.id), class: "btn btn-info btn-xs" do %>
 				<i class="glyphicon glyphicon-info-sign">View</i>
 				<% end %>
 				<%= link_to message_path(sent_message.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-xs" do %>
	 				<i class="glyphicon glyphicon-remove-sign">Delete</i>
	 			<% end %>
 			</td>
 		<% else %>
 			<td><%= "Read" %></td>
 			<td><%= link_to message_path(sent_message.id), class: "btn btn-info btn-xs" do %>
 				<i class="glyphicon glyphicon-info-sign">View</i>
 			<% end %>
 			</td>
 		<% end %>
 		
 	</tr>
 	<% end %>
 </tbody>
 </table>

