<% if @message.errors.any? %>
	<div class="alert alert-danger">
		<h3> These errors prohibiated the form from being saved </h3>
		<ul>
			<% @message.errors.full_messages.each do |error| %>
				<li> <%= error %></li>
			<% end %>
		</ul>
	</div>
<% end %>


<%= form_for @message do |f| %>

<div class="form-group">
<%= f.label :'Send To' %>
<%= f.collection_select :msg_receiver, User.all, :id, :first_name, {prompt: "Select User"}, {class: "form-control chosen-select"} %>
</div>

<div class="form-group">
<%= f.label :'Subject' %>
<%= f.text_field :subject, class: "form-control" %>
</div>

<div class="form-group">
<%= f.label :'Message' %>
<%= f.text_area :message, class: "form-control" %>
</div>

<div class="form-group">
<%= f.label :'Include Payment?' %>
<%= f.check_box :sent_money %>
</div>

<%= f.hidden_field :msg_date_time, value:Time.now %>

<%= f.submit "Save/Send", class: "btn btn-success btn-sm" %> <%= link_to "Cancel", messages_path, class: "btn btn-default btn-sm" %>

<% end %>