<div class="page-header" class="margin">
	<h3>Message
		<div class="pull-right">
			<%= link_to new_message_path, class: "btn btn-primary" do %>
				<i class="glyphicon glyphicon-plus"></i> Reply
			<% end %>
			<%= link_to messages_path, class: "btn btn-primary" do %>
				<i class="glyphicon glyphicon-th-list"></i> Back
			<% end %>
		</div>
	</h3>
</div>
<div class="col-md-7">
  <dl class="dl-horizontal">
	<dt>Message Date:</dt>
	<dd><%= @message.msg_date_time.strftime("%d-%b-%y %H:%M:%S") %></dd>
	<% if @message.msg_receiver == current_user.id %>
		<dt>From:</dt>
		<dd><%= @message.user.first_name %></dd>
	<% else %>
		<dt>To:</dt>
		<dd><%= User.find(@message.msg_receiver).first_name %></dd>
	<% end %>
	<dt>Subject:</dt>
	<dd><%= @message.subject %></dd>
	<dt>Message:</dt>
	<dd><%= @message.message %></dd>
	<dt>Included Money?:</dt>
	<% if@message.sent_money == false %>
		<dd><%= "No" %></dd>
	<% else %>
		<dd><%= "Yes" %></dd>
	<% end %>
	<% if @message.msg_status == true %>
		<dt></dt>
		<dd>
			<table class="table-bordered">
				<thead>
					<tr>
						<th>Currency</th>
						<th>Amt</th>
					</tr>
				</thead>
				<tbody>
					<% @message.money_txns.each do |money_txn| %>
						<tr>
							<td><%= money_txn.currency %></td>
							<td><%= money_txn.amt %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</dd>
	<% else %>
		<dt></dt>
		<dd>
		<div> <!-- Button trigger modal -->
			<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addPayment">
			 Add Payment
			</button>
			<!-- Modal -->
			<div class="modal fade" id="addPayment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Add Payment</h4>
			      </div>
			      <div class="modal-body">
						<%= form_for @money_txn do |f| %>

						<div class="form-group">
							<%= f.label :'Currency' %>
							<%= f.select :currency, ["INR", "USD", "JPY", "AUD", "GBP", "EUR"], {prompt: "Select Currency"}, {class: "form-control chosen-select"} %>
						</div>
						<div class="form-group">
							<%= f.label :Amount %>
							<%= f.text_field :amt %>
						</div>
						<%= f.hidden_field :message_id, value: @message.id %>
						<%= f.hidden_field :received_from, value: @message.user.id %>
						<%= f.hidden_field :paid_to, value: @message.msg_receiver %>
						<br/>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <%= f.submit "Submit", class: "btn btn-success" %>

						<% end %>
			       
			      </div>
			    </div>
			  </div>
			</div>
		</div> <!-- Button trigger modal ends here-->
		</dd>
		<dt></dt>
		<dd>
		<table class="table-bordered">
			<thead>
				<tr>
					<th>Currency</th>
					<th>Amt</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<% @message.money_txns.each do |money_txn| %>
				<tr>
					<td><%= money_txn.currency %></td>
					<td><%= money_txn.amt %></td>
					<td><%= link_to "Delete", money_txn_path(money_txn_id: money_txn.id), method: :delete, data: {confirm: "Are you sure?"} %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		</dd>
	<% end %>
	</dl>
</div>


 