<div class="page-header" class="margin">
	<h3> Payments/Receipts </h3> 
</div>

<h4>Receipts</h4>
<table class="table table-stripped" id="messagesInboxTable" width="100%" border="0" cellspacing="0" cellpadding="0">
 <thead>
 	<tr>
 		<th>Date</th>
 		<th>Received From</th>
 		<th>Currecy</th>
 		<th>Amount</th>
 	</tr>
 </thead>
 <tbody>
 	<% @received_money_txns.each do |received_money_txn| %>
 	<tr>
 		<td><%= received_money_txn.message.msg_date_time.strftime("%d-%b-%y %H:%M:%S") %></td>
 		<td><%= User.find(received_money_txn.received_from).first_name %></td>
 		<td><%= received_money_txn.currency %></td>
 		<td><%= received_money_txn.amt %></td>
 	</tr>
 	<% end %>
 </tbody>
 </table>

<h4>Payments</h4>
 <table class="table table-stripped" id="messagesOutboxTable" width="100%" border="0" cellspacing="0" cellpadding="0">
 <thead>
 	<tr>
 		<th>Date</th>
 		<th>Paid To</th>
 		<th>Currecy</th>
 		<th>Amount</th>
 	</tr>
 </thead>
 <tbody>
 	<% @paid_money_txns.each do |paid_money_txn| %>
 	<tr>
 		<td><%= paid_money_txn.message.msg_date_time.strftime("%d-%b-%y %H:%M:%S") %></td>
 		<td><%= User.find(paid_money_txn.paid_to).first_name %></td>
 		<td><%= paid_money_txn.currency %></td>
 		<td><%= paid_money_txn.amt %></td>
 	</tr>
 	<% end %>
 </tbody>
 </table>

